@font-face {
  font-family: "iconfont"; /* Project id 2411432 */
  src: url('iconfont.woff2?t=1652447046789') format('woff2'),
       url('iconfont.woff?t=1652447046789') format('woff'),
       url('iconfont.ttf?t=1652447046789') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-zhuanfa:before {
  content: "\e63b";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-dianzan1:before {
  content: "\e621";
}

.icon-zanwupinglun1:before {
  content: "\e649";
}

.icon-zanwupinglun:before {
  content: "\e816";
}

.icon-rili:before {
  content: "\e60c";
}

.icon-xiazai48:before {
  content: "\e61d";
}

.icon-shouye:before {
  content: "\e634";
}

.icon-neirong:before {
  content: "\e890";
}

.icon-gaojian-zuozhe:before {
  content: "\e673";
}

.icon-bangzhu:before {
  content: "\e8ac";
}

.icon-shuju:before {
  content: "\e8b9";
}

.icon-xiaocexuexi:before {
  content: "\e69e";
}

.icon-tousujianyi2:before {
  content: "\e6cb";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-xiangxia:before {
  content: "\e637";
}

